[package]
name = "omni-led"
version = "0.4.1"
authors = ["Michał Bałabanow <m.balabanow@gmail.com>"]
license = "GPL-3.0-only"
edition = "2024"
default-run = "omni-led"

[dependencies]
clap = { version = "4.4", features = ["derive"] }
image = "0.25"
log = "0.4"
log4rs = "1.4"
mlua = { version = "0.11", features = ["lua54", "vendored", "macros"] }
omni-led-lib = { version = "0.4.1", path = "../omni-led-lib" }
opener = { version = "0.8", features = ["reveal"] }
tokio = { version = "1", features = ["fs", "macros", "rt-multi-thread"] }
tray-item = "0.10"

[target.'cfg(target_os = "linux")'.dependencies.tray-item]
version = "0.10"
features = ["ksni"]

[target.'cfg(target_os = "windows")'.build-dependencies]
windres = "0.2"

[features]
dev = []
