name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build_and_test:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Environment
        uses: ./.github/actions/setup-env

      - name: Code format check
        run: cargo fmt --all --check

      - name: Docs format check
        uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          config: '.markdownlint.json'
          globs: '**/*.md'

      - name: Build
        run: cargo make build

      - name: Test
        run: cargo make test
